<html>
<head>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
<div id='app-4'>
    <ol>
        <li v-for='todo in todos'>{{todo.text}}</li>
    </ol>
</div>
<div id='app-5'>
    <p>{{message}}</p>
    <button v-on:click='reverseMessage'>Reverse message</button>
</div>
<div id='app-6'>
    <P>{{message}}</P>
    <input v-model='message'>
</div>
<div id='app-7'>
    <ol>
        <todo-item1 
        v-for='item in groceryList'
        v-bind:todo='item'
        v-bind:key='item.id'></todo-item1>
    </ol>
</div>
<div id='example'>
    <p>Original text:{{message}}</p>
    <p>Reverse text:{{reverseMessage}}</p>
</div>
<div id='app-8'>
    <a v-bind:href='link'>Link</a>
    <p></p>
    <!--This is same above code-->
    <a :href='link'>Link</a>
</div>

<script src='./index.js'></script>
</body>
</html>